.large-loading-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	row-gap: 1rem;
}

form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	row-gap: 1rem;
}

.role-text {
	margin-right: .5rem;
}