.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 65px;
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	padding: 0 var(--gutter-size);
	max-width: 1050px;
	margin: 0 auto;

	.logo {
		display: flex;
		height: 48px;
		width: 48px;
		align-items: center;

		h1 {
			font-size: 1.4rem;
			font-weight: 300;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		display: flex;
		align-items: center;
		height: 100%;

		li {
			display: inline-block;
			margin-left: 1rem;
			font-weight: 400;

			a {
				color: #232427;
				text-decoration: none;
				background-color: #0000;
				transition: .3s ease-in-out;
				padding: .75rem 1.15rem;
				border-radius: 4px;

				&:hover {
					background-color: #eceff5;
				}
			}
		}
	}
}